@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:#d9e0e0;
  --text-color: #191f1f;
  --button-color: white;
  --accent-color: #04abab;
  --secondary-color: #07e9e9;
  --cal-color: #304a4a;
}

body{
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 6rem;
  margin-bottom: 2rem;
  color: var(--button-color);
  text-align: right;
  background-color: var(--text-color);
  border-radius: .5rem;
  padding: 10px;
}

.wrapper {
  background: var(--cal-color);
  width: 21rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.3);
}

.buttonBox{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button{
  background: var(--button-color);
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color);
  border: none;
  font-size: 1.5rem;
}

.button:hover{
  border: 2px dotted var(--text-color);
}

.equals {
  background: var(--accent-color);
  grid-column: 3/5;
}

.opt {
  background: var(--secondary-color);
}